
#wrapper {
    transition: all 0.5s;
    transition-delay : 0.5s;
	margin-bottom: 65px;
}

#navbar-wrapper {
    
    z-index: 1000;
    position: fixed;
    overflow-y: auto;
    
    width: 0;
    height: 100%;
    padding-top : 10px;
    
    background-color: #eeeeee;
    1background-color: white;
    
    transition: all 0.5s ease;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

#wrapper #navbar-wrapper {
    padding-left : 0px;
}

#wrapper.toggled #navbar-wrapper {
    width: 200px;
    padding-left : 10px;
    padding-right : 10px;
}

#content-wrapper {
    width: 100%;
    position: absolute;
    padding-top : 5px;
    transition: all 0.5s ease;
}

.slider img {
	width: 100%;
	height: 100%;
}

.page {
	padding-right: 5px;
    padding-left: 5px
}

.form-content {
  max-height: 460px;
  overflow-y: scroll;
}

@media(min-width:768px) {

	#navbar-wrapper {
        width: 250px;
    }
    
    #wrapper #navbar-wrapper {
	    padding-left : 10px;
	    padding-right : 10px;
	}
	
	#wrapper.toggled #navbar-wrapper {
        width: 0;
    	padding-left : 0px;
    	padding-right : 0px;
    }
    
	#content-wrapper {
        padding-top : 10px;
        left: 250px;
        width : calc(100% - 250px);
    }
    
    #wrapper.toggled #content-wrapper {
        left: 0px;
        width : 100%;
    }

	.slider img {
		max-width : 408px;
		max-height : 256px;
    	1margin-left : 10%;
	}
	
	.page {
		padding-right: 10px;
	    padding-left: 10px	
	}
    
}