<div class="col-lg-12">

	<!-- <div class="panel panel-default"> -->
	<!-- <div class="panel-body"> -->
	<a id="nav_menu" ng-show="showNav" ng-click="navigate()">
		<i ng-show="!arrow" class="mdi-navigation-menu navbar-text"></i>
		<i ng-show="arrow" class="mdi-navigation-arrow-back navbar-text"></i>
	</a>
	
	<span class="navbar-text"> {{header}} </span>
	
	<!-- <input ng-model="search" class="form-control navbar-text" id="search" type="text" placeholder="Search"> -->

	<!-- </div> -->
	<!-- </div> -->
</div>