<form role="form" ng-controller="FormCtrl">

	<!-- Start Form Content -->
	<div class="form-content">

	<!-- Start Fields -->
	<div ng-repeat="field in panel.fields">
	
		<ng-switch on="field.type">
		
			<div class="1form-group col-xs-{{field.size || 6}}" ng-class="{ 'col-xs-offset-{{field.offset}}' : field.offset }" >
			
			<label ng-if="field.label">{{field.label}}</label>
			
			<label ng-switch-when="label" id="{{field.id}}">{{formData[field.id]}}</label>

			<p ng-switch-when="para" ng-bind-html="formData[field.id]" class="text-justify" id="{{field.id}}"></p>

			<h2 ng-switch-when="header">{{field.text}}</h2>

			<img ng-switch-when="image" src="{{getImageURI(field)}}" id="{{field.id}}"></img>
			
			<img ng-switch-when="thumbnail" src="{{getImageURI(field)}}" id="{{field.id}}" height="50px"></img>
		
			<select ng-switch-when="select" ng-model="formData[field.id]" class="form-control form-control-wrapper input-lg" id="{{field.id}}" 
				ng-init="fetchLookupData(field)" ng-change="fetchLookupChainedData(field)"
				ng-options="option.name for option in data[field.data.id] track by option.code">
				<option value="" disabled></option>
				<!--  <option ng-repeat="option in data[field.data.id]" value="{{option.code}}">{{option.name}}</option> -->
			</select>
		
			<a ng-switch-when="link_button" ng-click="openLink(field)" href="" target="{{field.target}}" class="btn btn-raised btn-default btn-success" id="{{field.id}}"> 
				<div class="ripple-wrapper"></div>{{field.value}}
			</a>
	
			<button ng-switch-when="button" class="btn btn-raised btn-default" ng-click="{{field.action.func}}" ng-class="{ 'btn-success' : field.style = 'success' } " id="{{field.id}}" >
				<i class="{{field.action.name}}"></i><div class="ripple-wrapper"></div>{{field.value}}
				<span class="badge" ng-if="field.badge" ng-bind="data[field.badge]"></span>
			</button>
			
			<input ng-switch-when="date" ng-datetime-picker="dd-mm-yyy" ng-model="formData[field.id]" class="form-control" id="{{field.id}}" type="datetime" placeholder="{{field.placeholder}}">
			
			<div ng-switch-when="text" class="form-control-wrapper">
				<input type="text" class="form-control input-lg empty" ng-model="formData[field.id]" id="{{field.id}}" value="{{field.value}}" type="{{field.type}}">
				<div class="floating-label">{{field.placeholder}}</div>
			</div>
<!-- 			
			<div ng-switch-when="lookup" class="form-control-wrapper">
				<input type="text" class="form-control input-lg empty" ng-model="formData[field.id]" id="{{field.id}}" value="{{field.value}}" type="{{field.type}}"
				ng-init="fetchLookupData(field)" ng-change="fetchLookupChainedData(field)"
				typeahead="option as option for option in data[field.data.id]" typeahead-template-url="customTemplate.html">
				<div class="floating-label">{{field.placeholder}}</div>
			</div>
 -->
			<div ng-switch-when="lookup" class="1form-control-wrapper">
				<ui-select ng-model="formData[field.id]">
    			<ui-select-match>
        			<span ng-bind="$select.selected.name"></span>
    			</ui-select-match>
    			<ui-select-choices repeat="option in data[field.data.id]">
        			<span ng-bind="option.name"></span>
    			</ui-select-choices>
  				</ui-select>
			</div>
			
			<textarea rows="{{field.rows || 10}}" ng-switch-when="textarea" ng-model="formData[field.id]" class="form-control" id="{{field.id}}" type="{{field.type}}" placeholder="{{field.placeholder}}" ></textarea>
			
			<sparkline ng-switch-when="sparkline" data="{{formData[field.id]}}" id="{{field.id}}"></sparkline>
			
			<map ng-switch-when="map" id="{{field.id}}" style="width:500px;height:380px;"></map>

			<!-- <span class="form-highlight"></span><span class="form-bar"></span> -->

			<div ng-switch-when="slider">
				<ng-include src='"/partials/slider.html"'></ng-include>
			</div>

			<div ng-switch-when="table">
				<ng-include src='"/partials/table.html"'></ng-include>
			</div>
			
			<div ng-switch-when="list">
				<ng-include src='"/partials/list.html"'></ng-include>
			</div>

			<div ng-switch-when="custom">
				<ng-include src="getPartialUrl(field)"></ng-include>
			</div>

			</div>
	
		</ng-switch>
	
	</div>
	<!-- End Fields -->
	
	</div>
	<!-- End Form Content -->
	
	<!-- Start Actions  -->
	<div class="form-group col-xs-12" ng-if="pageConfig.mode == 'edit'">
		<!-- <hr> -->
		<!-- <div class="navbar-fixed-bottom" style="padding-left: 10px; padding-right: 10px;"> -->
		<button class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-raised btn-default btn-success" ng-click="doSave(panel)">
			<div class="ripple-wrapper"></div>Submit
		</button>
		<!-- </div> -->
	</div>
	
	<div class="form-group col-xs-12" ng-if="pageConfig.mode == 'search'">
		<!-- <hr> -->
		<button class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn btn-raised btn-default btn-success" ng-click="doSearch(panel)">
			<div class="ripple-wrapper"></div>Search
		</button>
	</div>
	<!-- End Actions  -->
	
	
</form>

<script type="text/ng-template" id="customTemplate.html">
	<a>
		<span>{{match.model.fields.name}}</span>
	</a>
</script>