<div ng-controller="TableCtrl">
	
	<!-- <input ng-if="panel.refresh" class="col-xs-12 col-sm-4 col-md-4 col-lg-3 btn btn-raised btn-default btn-success" type="button" value="Refresh" ng-click="fetchFieldData(panel)"> -->

	<table class="table" id="{{panel.id}}" 1ng-if="data.rows">
		
		<thead>
			<tr>
			<!-- <th><input type="checkbox"></th> -->
			<th ng-repeat="column in panel.columns" ng-bind="column.header"></th>
			<th ng-if="panel.action.secondary">Process</th></tr>
		</thead>
		
		<tbody>
			<tr ng-repeat="row in data.rows">
				<!-- <td><input type="checkbox" value="{{$index}}"></td> -->
				<td ng-repeat="column in panel.columns">
					<div>{{column.expr ? row.fields[column.name][column.expr] : row.fields[column.name]}}</div>
				</td>
				<td>
				<div class="action-secondary" ng-if="panel.action.secondary">
					<button class="btn btn-fab btn-fab-mini btn-raised btn-sm" 
							ng-class="{ 'btn-success': row.success }"  ng-click="doAction(panel.action.secondary, row, this)">
						<i ng-class="{ '{{panel.action.secondary.name}}' : !row.success, 'mdi-navigation-check': row.success }"></i>
						<div class="ripple-wrapper"></div>
					</button>
				</div>
				</td>
			</tr>
		</tbody>
		
		<tfoot ng-if="summary.length > 0">
			<tr><th ng-repeat="column in panel.columns" ng-bind="summary[column.name]"></th><th ng-if="panel.action.secondary"></th></tr>
		</tfoot>
		
	</table>
</div>